/*************************************************
    GENERAL STYLES
 *************************************************/
 *,
 *::before,
 *::after {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
 
 body {
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}
 
/* -------------------- Mobile --------------------  */

/* ############ Main ############  */

main{
    height: calc(100vh - 80px);
    width: 100vw;
    background-color: #0084fd;
}

/* Aside */

#aside{
    width: 50px;
    height: 100%;
    background-color: #000000;
    overflow: scroll;
}

.mobile-hide{
    display: none;
}


#logo{
    margin: 0.5rem ;
}
#logo-txt{
    font-size: 1.6rem;
    position: relative;
    bottom: 5px;
}


.txt-aside{
    margin: 0.5rem;
    font-size: 1.6rem;
}
#home-botton:hover{
    color: white;
    margin: 0.7rem ;
}
#search-botton:hover{
    color: white;
    margin: 0.7rem ;
}
#library-botton:hover{
    color: white;
    margin: 0.7rem ;
}


/* ------- Container ------- */
#container{
    width: calc(100vw - 50px);
    height: 100%;
    overflow: auto;
    background-color: #191d24;
}

/* Header*/
#header-category{
    width: 100%;
    height: 80px;
    background-color: #0f1117;
    position: relative;
}

#upgrade-botton {
    width: 157px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 6px;
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translate(0,-50%);
    text-align: center;
    font-weight: bold;
    font-size: 0.7rem;
}

#upgrade-botton:hover{
    padding: 10px;
    width: 190px;
}

/* Album */
.contents{
    width: 100%;
    margin: 0 auto;
     margin-top: 0px;
     margin-bottom: 0px;
    padding: 0 20px;
}

#album-main{
    width: 100%;
    height: calc(100% - 80px);
}

ul {
    list-style-type: none;
}
li{
    margin: 0 1rem;
    margin-top: 1rem;
    text-decoration: none;
    font-size: 0.8rem;
}

li:hover{
    color: white;
    font-weight: bold;
}


.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}    

#contents{
    overflow: auto;
}

.col{
    width: calc(100% / 2 - 1rem);
    margin: 0.5rem;
}


#contents img{
    height: 170px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.img-cont{
    position: relative;
}

img:hover{
    filter: contrast(0.5);
    filter: brightness(0.5);
}

.play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}

main img:hover .play{
    display: block;
}

#contents h1{
    margin: 2rem 20px;
    margin-bottom: 2rem;
    margin-bottom: 0rem;
}
.img-cont{
    position: relative;
}



/* Footer */

footer{
    height: 80px;
    width: 100vw;
    background-color: #292929;
}

footer img{
    height: 30px;
    width: 30px;
    vertical-align: middle;
    margin:0 0.5rem;
}

.line-height{
    line-height: 15px;
}
.prefered{
    margin: 0.5rem 0.5rem;
}

#commands{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 170px;
}

#settings-audio{
    min-width:100px ;
}

.bar-1{
    height: 3px;
    background-color: gray;
    width: 80px;
    margin: 8px;
}
.bar-2{
    position: absolute;
    height: 3px;
    background-color: white;
    width: 30px;
}

.bar-3{
    height: 3px;
    background-color: gray;
    width: 50px;
    margin: 8px;
}
.bar-4{
    position: absolute;
    height: 3px;
    background-color: white;
    width: 10px;
}


 /* ------------------  Media Queris------------------ */
 
 
 /* // X-Small devices (portrait phones, less than 576px) */
 @media (min-width: 520.98px) { 

    
    #header-category{
        background-color: red;
    }

    #container{
        width: calc(100vw - 180px);
        height: 100%;
    }


    /* Aside */
    #aside{
        width: 180px;
        height: 100%;
        background-color: #000000;
        overflow: scroll;
    }
    
    .mobile-hide{
        display: inline;
    }

    #logo{
        margin: 1rem 0.5rem ;
    }
    .txt-aside{
        font-size: 1rem;
    }

/* Album */
    #contents img{
        height: 200px;
        width: 100%;
        object-fit: contain;
        object-position: center;
    }
    .playmod{
        height: 200px;
        width: 200px;
        background-color: rgba(0, 0, 0, 0.421);
        position: absolute;
        top:0;
    }

    /* Footer */


    footer img{
        height: 50px;
        width: 50px;
    }

    .bar-1{
        height: 3px;
        background-color: gray;
        width: 150px;
        margin: 8px;
    }
    .bar-2{
        position: absolute;
        height: 3px;
        background-color: white;
        width: 80px;
    }
 
  }
 
 /* // Small devices (landscape phones, less than 768px) */
 @media (min-width: 767.98px) { 

    #header-category{
        background-color: rgb(0, 255, 166);
    }

    /* Alnum */
    .col{
        width: calc(100% / 4 - 1rem);
        margin: 0.5rem;
    }
    #contents img{
        height: 200px;
        width: 100%;
        object-fit: contain;
        object-position: center;
    }

    /* Header */

    #upgrade-botton {
        width: 200px;
        border: 1px solid white;
        border-radius: 20px;
        padding: 6px;
        position: absolute;
        right: 3px;
        top: 50%;
        transform: translate(0,-50%);
        text-align: center;
        font-weight: bold;
        font-size: 0.9rem;
      }

      #upgrade-botton:hover{
        padding: 10px;
        width: 210px;
    }

    /* Footer */

    .bar-1{
        height: 3px;
        background-color: gray;
        width: 250px;
        margin: 8px;
    }
    .bar-2{
        position: absolute;
        height: 3px;
        background-color: white;
        width: 180px;
    }


 }
 
 /* // Medium devices (tablets, less than 992px) */
 @media (min-width: 991.98px) { 

    #header-category{
        background-color: violet;
    }


    /* Alnum */
    .col{
        width: calc(100% / 6 - 1rem);
        margin: 0.5rem;
    }

 
/* Footer */


.bar-1{
    height: 3px;
    background-color: gray;
    width: 350px;
    margin: 8px;
}
.bar-2{
    position: absolute;
    height: 3px;
    background-color: white;
    width: 180px;
}

 }
 
 /* FLOAT Rules */
 .clearfix::after{
     content:"";
     display: block;
     clear: both;
}
 .float-left{
     float:left;
}
 
 .float-right{
     float:right;
}
 
 /* Flex Rules */
 .flex-between-centered{
     display: flex;
     justify-content: space-between;
     align-items: center;
}
 
 .flex-center{
     display: flex;
     justify-content: center;
}
 .flex-column{
     display: flex;
     flex-direction: column;
}
 
 .flex-column-space-around{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
}

 .flex-column-space-between{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 
 .flex-center-wrap{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
}

 .flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
}

 
 
 /* Background Colors  */
 
 .bg-blu {
     background-color: #0084fd;
}
 
 .bg-black {
    background-color: #333333;
}

 .bg-violet{
     background-color: #9792e4;
}
 .bg-white{
     background-color: white;
}
 

/* Text Formation */

 .text-center {
     text-align: center;
}
 
 .txt-white{
     color: white;
}

 .txt-violet{
    color: #9792e4;
}

 .txt-orange{
    color: orange;
}

 .txt-gray{
    color: rgb(207, 199, 199);
}

 .txt-blu{
    color: #0084fd;
}

 .txt-bold{
    font-weight: bold;
}

.txt-08rem{
    font-size: 0.8rem;
}

 .txt-1rem{
    font-size: 1rem;
}

 .txt-15rem{
    font-size: 1.5rem;
}

 .txt-2rem{
    font-size: 2rem;
}

 .txt-4rem{
    font-size: 4rem;
}

/* Rotate */

.deg180{
    rotate: 180deg;
}

.flip{
    transform: scaleX(-1);
}

/* Margin */

.margin-05rem{
    margin: 0 0.5rem;
}